<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="HighTailEmail" value="XXX_HIGHTAIL_LOGIN_XXX"/>
		<add key ="HighTailPassword" value="XXX_HIGHTAIL_LOGIN_PASSWORD_XXX"/>
		<add key="ApiEndPoint_Sandbox" value="https://test2-api.yousendit.com"/>
		<add key="ApiEndPoint_Production" value="https://dpi.yousendit.com"/>
		<add key="Api_Key_Sandbox" value="XXX_HIGHTAIL_API_KEY_XXX"/>
	</appSettings>
</configuration>